<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>com.transistorsoft.fetch</string>
		<string>com.transistorsoft.customtask</string>
	</array>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>치열한 하루</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.chiyeolhan.chiyeolhan</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>GMSApiKey</key>
	<string>AIzaSyA0V8O7omJBpFXVIorBAVjbHZgAvc3yPxQ</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>원활한 서비스 제공을 위해 "항상"으로 설정해주세요</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>원활한 서비스 제공을 위해 "항상"으로 설정해주세요</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>원활한 서비스 제공을 위해 "항상 허용"으로 설정해주세요</string>
	<key>NSMotionUsageDescription</key>
	<string>CHANGEME: Motion permission helps detect when device in in-motion</string>
	<key>UIAppFonts</key>
	<array>
		<string>AntDesign.ttf</string>
		<string>Entypo.ttf</string>
		<string>EvilIcons.ttf</string>
		<string>Feather.ttf</string>
		<string>FontAwesome.ttf</string>
		<string>FontAwesome5_Brands.ttf</string>
		<string>FontAwesome5_Regular.ttf</string>
		<string>FontAwesome5_Solid.ttf</string>
		<string>Fontisto.ttf</string>
		<string>Foundation.ttf</string>
		<string>Ionicons.ttf</string>
		<string>MaterialCommunityIcons.ttf</string>
		<string>MaterialIcons.ttf</string>
		<string>Octicons.ttf</string>
		<string>SimpleLineIcons.ttf</string>
		<string>Zocial.ttf</string>
		<string>NotoSansKR-Black.otf</string>
		<string>NotoSansKR-Bold.otf</string>
		<string>NotoSansKR-Light.otf</string>
		<string>NotoSansKR-Medium.otf</string>
		<string>NotoSansKR-Regular.otf</string>
		<string>icon-tasklist-add-button.ttf</string>
		<string>icon-tasklist-left-fin.ttf</string>
		<string>icon-tasklist-left.ttf</string>
		<string>icon-go-to-schedule-button.ttf</string>
		<string>icon-home-title-rectangle.ttf</string>
		<string>icon-todo-man.ttf</string>
		<string>icon-go-back-button.ttf</string>
		<string>icon-schedulte-timeset-button.ttf</string>
		<string>icon-modal-question.ttf</string>
		<string>icon-schedule-pointer.ttf</string>
		<string>icon-searched-location.ttf</string>
		<string>icon-searched-search.ttf</string>
		<string>icon-add-todo.ttf</string>
		<string>icon-angle-down.ttf</string>
		<string>icon-question-background.ttf</string>
		<string>icon-question.ttf</string>
		<string>icon-star-border.ttf</string>
		<string>icon-target.ttf</string>
		<string>icon-favorite.ttf</string>
		<string>icon-find-current-location.ttf</string>
		<string>GodoB.otf</string>
		<string>icon-home.ttf</string>
		<string>icon-check.ttf</string>
		<string>icon-fail.ttf</string>
		<string>icon-arrow.ttf</string>
		<string>icon-handle-reset1.ttf</string>
		<string>icon-handle-reset2.ttf</string>
		<string>icon-handle-start.ttf</string>
		<string>icon-left-circle.ttf</string>
		<string>icon-minus-circle.ttf</string>
		<string>NotoSansKR-Thin.otf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>location</string>
		<string>processing</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>SplashScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleDefault</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
